.idea
node_modules
.DS_Store
lib
types
coverage
declarations
apps/development/tsconfig.docs.json
apps/development/tsdoc.json
apps/development/docs.config.json
apps/development/api-extractor.json
apps/development/api.json
